<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>titleMainCategories</key>
	<string>Main Categories</string>
	<key>error_network_connection</key>
	<string>Netowrk Connection Fail</string>
	<key>actionAddFavoriteSuccessfully</key>
	<string>Add favorite successfully</string>
	<key>byName</key>
	<string>By Name</string>
	<key>actionFbAuthOkYouCanDoItAgain</key>
	<string>Facebook Login OK You can do it again</string>
	<key>actionRemoveFavorite</key>
	<string>Remove Favorite</string>
	<key>actionRemoveFavoriteSuccessfully</key>
	<string>Remove favorite successfully</string>
	<key>titleFavoriteCategory</key>
	<string>Favorite Categories</string>
	<key>titleFavoriteVideos</key>
	<string>Favorite videos</string>
	<key>actionAddFavorite</key>
	<string>Add Favorite</string>
	<key>titleChatRoom</key>
	<string>Chat Room</string>
	<key>actionSplit</key>
	<string>Split</string>
	<key>actionOK</key>
	<string>OK</string>
	<key>actionCancel</key>
	<string>Cancel</string>
	<key>actionFull</key>
	<string>Full</string>
	<key>say</key>
	<string>say:</string>
	<key>sum</key>
	<string>Sum</string>
	<key>actionMsg</key>
	<string>Msg</string>
	<key>actionZoomOut</key>
	<string>Zoom Out</string>
	<key>sort</key>
	<string>Sort:</string>
	<key>actionLeave</key>
	<string>Leave</string>
	<key>onLine</key>
	<string>On Line</string>
	<key>titleVideo</key>
	<string>Video</string>
	<key>actionDimiss</key>
	<string>Dimiss</string>
	<key>infoConnectFBFirst</key>
	<string>Plearse Connect Facebook First</string>
	<key>titleSubCategories</key>
	<string>Sub Categories</string>
	<key>error_parse_fail</key>
	<string>Parse Error</string>
	<key>info</key>
	<string>Info</string>
	<key>titleMsgBoard</key>
	<string>Msg Board</string>
	<key>actionJoin</key>
	<string>Join</string>
	<key>byDate</key>
	<string>By Date</string>
	<key>actionSearch</key>
	<string>Search</string>
	<key>infoNoData</key>
	<string>No Data</string>
	<key>actionZoomIn</key>
	<string>Zoom In</string>
	<key>actionBack</key>
	<string>Back</string>
	<key>warnConnectFBFirst</key>
	<string>Please connect Facebook fisrt</string>
	<key>warnEmptyText</key>
	<string>Please fill the field</string>
	<key>actionTalk</key>
	<string>Talk</string>
	<key>noSort</key>
	<string>NO Sort</string>
	<key>titleVideos</key>
	<string>Videos</string>
	<key>error</key>
	<string>Error</string>
	<key>warnLoginFBFirst</key>
	<string>Please login Facebook first</string>
	<key>warn</key>
	<string>Warn</string>
	<key>warnNoFBAccountFound</key>
	<string>No Facebook Account Found</string>
	<key>warnAreYouSore</key>
	<string>Are you sure?</string>
	<key>warnAreYouSoreRemoveFavoriteMainCategory</key>
	<string>Are you sure to remove the favorite main category?</string>
	<key>warnAreYouSoreRemoveFavoriteVideo</key>
	<string>Are you sure to remove the favorite video?</string>
</dict>
</plist>
